body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back{
    background-image: url(../assets/back_colorido.png);
    background-repeat: no-repeat;
    width: 1024px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headers{
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.content{
    width: 100%;
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.footer{
    width: 100%;
    height: 14%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 10px; 
}

.bottom_button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}

#text_input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 185px;
    opacity: 65%;
}

.caixatxtMain{
    border-radius: 5px;
    height:50px;    
    width: 627px;
    font-size:20pt;
}

#telefone,#user,#senhauser,#senha,#pass{
    border-radius: 5px;
    height:50px;    
    width: 627px;
    font-size:20pt;
}

#keyboard {
    width: 100%;
    display: none;
    margin-top: -10px;
    text-align: center;
    margin-bottom: 18px;
}

.virtual-keyboard{
    width: 100%;
}

#keyboard_numbers {
    width: 100%;
    display: none;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.button{
    border-radius: 05px;
    width: 250px;   
    height: 80px;
    line-height: 40px;
    background-color: white;
    font-family:verdana;
    font-size: 28px;
    font-weight: bold;
    color: #003057;
}

.ap_tab{
    width: 1000px;
    margin-left: 100px;
    margin-bottom: 35px;;
}

.ap_row{
    width: 686px;
}

.ap_button{
    margin: 4px;
    border-radius: 05px;
    width: 160px;   
    height: 50px;
    line-height: 30px;
    background-color: rgba(255,255,255,0.6);
    font-size: 22px;
    font-weight: bold;
    color:white;  
    text-shadow: 2px 2px 18px gray;
    box-shadow: 15px 15px 30px -15px gray;
    border-style: none;
    font-family: 'Lemon/Milk light';
}

.ap_button:active{
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: 0px 0px 30px -15px gray;
}

#buttons{
    margin-top: 150px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#buttons3{
    margin-top: 200px;
    width: 1024px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.button{
    margin: 8px;
}


#title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    top: 140px;
    font-family: 'Lemon/Milk light';
    text-shadow: 2px 2px 18px gray;
}


#titleAp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    top: 120px;
    font-family: 'Lemon/Milk light';
    text-shadow: 2px 2px 18px gray;
}

.compartimentos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.caixa{
    margin:25px;
}

.caixa_esgotado{
    margin:25px;
    opacity: 50%;
}

.caixa:active{
    position: relative;
    top: 2px;
    left: 2px;
}

#carouselExampleIndicators{
    width: 886px;
    margin-left: 60px;
    margin-bottom: -10px;
}

#quadro{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#conf{
    background-color: rgba(255,255,255,0.50);
    color: white;
    border-radius: 5px;
    opacity: 100%;
    padding: 5px;
    display: flex;
    font-size: 30px;
    line-height: 32px;
    font-family: 'Lemon/Milk light';
    align-items: center;
    box-shadow: 10px 10px 30px -20px gray;
    text-shadow: 2px 2px 18px gray;
}

  .buttonMain{
    margin: 0.3%;
    z-index: 1;
}

.bodyCoreGer {
    margin-top: -40px;
    margin-bottom: 30px;
    width: 100%;
    height: 509px;
    display: flex;
  }

  .buttonGer{
    border-radius: 05px;
    width: 450px;   
    height: 80px;
    line-height: 40px;
    background-color: white;
    font-family:verdana;
    font-size: 28px;
    font-weight: bold;
    color: #003057;
}

.buttonGer{
    margin: 8px;
}

#lista{
    width: 100%;
    height: auto;
    max-height: 320px;
    overflow-y: scroll;
}
#cab{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: white;
    font-weight: bold;
}

.buttonComp{
    width: 100px;
    height: 30px;
    background-color: #003057;
    color: white;
    border-radius: 7px;
    margin-right: 25px;
}

.comp_item{
    width: 200px;
    border-left-style: solid;
    border-left-color: #003057;
    border-left-width: 1px;
    color: #003057;
    text-align: center;
    font-size: 24px;
}

.ap_item{
    width: 33.33%;
    border-left-color: #003057;
    border-left-width: 1px;
    color: #003057;
    text-align: center;
    font-size: 24px;
}

.morador_item{
    width: 33.33%;
    border-left-style: solid;
    border-left-color: #003057;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-color: #003057;
    border-right-width: 1px;
    color: #003057;
    text-align: center;
    font-size: 24px;
}

.tel_item{
    width: 33.33%;
    color: #003057;
    text-align: center;
    font-size: 24px;
}

.id_item{
    width: 15%;
    color: #003057;
    text-align: center;
    font-size: 24px;
}

.user_item{
    width: 60%;
    color: #003057;
    text-align: center;
    font-size: 24px;
}

.perfil_item{
    width: 25%;
    color: #003057;
    text-align: center;
    font-size: 24px;
}

.comp_cab_item{
    width: 200px;
    color: #003057;
    text-align: center;
    font-size: 24px;
}
.tamanho_cab_item{
    width: 100px;
    color: #003057;
    text-align: center;
    font-size: 24px;
}
.sit_cab_item{
    width: 180px;
    color: #003057;
    text-align: center;
    font-size: 24px;
}
.lim_cab_item{
    width: 20%;
    color: #003057;
    text-align: center;
    font-size: 24px;
}
.ap_cab_item{
    width: 20%;
    color: #003057;
    text-align: center;
    font-size: 24px;
}

.comp_item_size{
    width: 80px;
    border-left-style: solid;
    border-left-color: #003057;
    border-left-width: 1px;
    color: #003057;
    text-align: center;
    font-size: 24px;
}

.accordion-body{
    display: flex;
}

#btns{
    margin-left: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#btncorreios{
    width: 330px;
    height: 353px;
    background-image: url(../assets/Correios.png);
    background-repeat: no-repeat;
    margin:0.5%
}

#btncorreios:focus, #btncorreios::-moz-focus-inner{
    outline:none;
    border:none;
  }

#btncorreios:active, #btnentregas:active, #btnreceber:active, #btngerenciar:active{
    position:relative;
    top:2px;
    left:2px;
    box-shadow:none;
}

#btnentregas{
    width: 330px;
    height: 353px;
    background-image: url(../assets/Entregar.png);
    background-repeat: no-repeat;
    margin:0.5%
}

#btnreceber{
    width: 330px;
    height: 353px;
    background-image: url(../assets/Receber.png);
    background-repeat: no-repeat;
    margin:0.5%
}

#btngerenciar{
    width: 255px;
    height: 67px;
    position: absolute;
    top: 532px;
    left: 755px;
    background-image: url(../assets/Configurações.png);
    background-repeat: no-repeat;
    margin:0.5%
}

#btngerenciar:active{
    position: absolute;
    top: 534px;
    left: 757px;
}

.bodyCore{
    width: 1024px;
    height: 600px;
}


#btnlog{
    width: 25%;
    height: 353px;
    background-image: url(../assets/Relatorios.png);
    background-repeat: no-repeat;
}

#btnlog:active{
    position: relative;
    top: 2px;
    left: 2px;
}

#btnsenha{
    width: 329px;
    height: 353px;
    background-image: url(../assets/Senha.png);
    background-repeat: no-repeat;
    margin:0.5%
}

#btnsenha:active{
    position: relative;
    top: 2px;
    left: 2px;
}

#btnQR{
    width: 329px;
    height: 353px;
    background-image: url(../assets/QR\ Code.png);
    background-repeat: no-repeat;
    margin:0.5%
}

#btnQR:active{
    position: relative;
    top: 2px;
    left: 2px;
}

#btneditar{
    width: 25%;
    background-image: url(../assets/Usuários.png);
    background-repeat: no-repeat;
}

#btneditar:active{
    position: relative;
    top: 2px;
    left: 2px;
}

#btndata{
    width: 25%;
    background-image: url(../assets/Data.png);
    background-repeat: no-repeat;
}

#btndata:active{
    position: relative;
    top: 2px;
    left: 2px;
}

#btncompartimentos{
    width: 25%;
    background-image: url(../assets/Portas.png);
    background-repeat: no-repeat;
}

#btncompartimentos:active{
    position: relative;
    top: 2px;
    left: 2px;
}

#divcompAbrir{
    width: 250px;
    height: 250px;
    background-color: rgba(255,255,255,0.50);
    border-color: white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    font-size: 200px;
    line-height: 200px;
    color: white;
    font-family: verdana;
    align-items: center;
    box-shadow: 15px 15px 30px -15px gray;
    
}

#textcompAbrir{
    width: 250px;
    text-align: center;
    font-family: 'Lemon/Milk light';
    text-shadow: 2px 2px 18px gray;
}

#confirma{
    text-align: center;
    color:white;
}

#qrBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#qr-video{
    border-style: solid;
    width: 425px;
    height: 320px;
}

#btn_encerrar_final{
    margin-left: 420px;
    margin-top: 100px;
}

#titleComprovante{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lemon/Milk light';
    text-shadow: 2px 2px 18px gray;
}

#quadro_comprovante{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#divComprovante{
    width: 650px;
    height: 270px;
    background-color: rgba(255,255,255,0.50);
    color:white;
    font-size: 23px;
    line-height: 36px;
    font-family: 'Lemon/Milk light';
    text-shadow: 2px 2px 18px gray;
}

#clock_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ajuste{
    width: 50%;
    background-color: white;
    text-align: center;
    border-style: solid;
    color: #003057;
    border-color: #003057;
    border-width: 1px;
    font-size: 21px;

}
#hora{
    width: 50%;
    background-color: white;
    text-align: center;
    border-style: solid;
    color: #003057;
    border-color: #003057;
    border-width: 1px;
    font-size: 36px;
    margin: 10%;
}

.alertdiv{
    display: flex;
    flex-direction: column; 
    width: 70%;
    justify-content: center;
    }
    .alerttxt{
      margin-left: 10px;
      width: 75%;
    }
    .search_select{
    width: 200px; 
    margin:2%
    }
    .busca_label{
        color: white;
        font-size: 16px;
    }
    #ap_select{
        width: 100%;
        margin: 2%;
    }
    #buscar{
      margin-left: 30px;
      font-size: 18px;
    }
    #data_final_label{
      margin-left: 25px;
    }
    div[prop="alertobj"]{
        display: flex;
        align-items:center;
        margin-top: 7px;
        width:400px;
        height: 40px;
      }

      #select_box{
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
      }
      #select_box_left{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
          width: 50%;
      }
      #select_box_right{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 50%;
      }
      #table{
          background-color: white;
          overflow-y: scroll;
          border-style: solid;
          width: 100%;
          height: 100%;
      }
      .celula{
          text-align: center;
      }

      #clock{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color:white;
        text-align:center;
        margin:5%;
        width: auto;
        position: relative;
        bottom: 50px;
        left: 25px;
        text-shadow: 2px 2px 18px gray;
      }

      #voltar,#btn_voltar{
        background-image: url(../assets/Voltar.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
        right: 750px;
    }

    #voltar:active,#btn_voltar:active{
        position: absolute;
        top:527px;
        right: 748px;
    }

    #confirmar{
        background-image: url(../assets/Confirmar.png); 
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
        left: 750px;
    }

    #confirmar:active{
        position: absolute;
        top:527px;
        left:752px;
    }

    #btnencerrar,#btncancelar{
        background-image: url(../assets/Cancelar.png); 
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
        right: 750px;
    }
    
    #btnencerrar:active,#btncancelar:active{
        position: absolute;
        top:527px;
        right: 748px;
    }

    #encerrar{
        background-image: url(../assets/Finalizar.png); 
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
        left: 750px;
    }
    
    #encerrar:active{
        position: absolute;
        top:527px;
        left:752px;
    }

    #btncancelar1{
        background-image: url(../assets/Cancelar.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
    }

    #btncancelar1:active{
        position: relative;
        top:3px;
        left:2px;
    }

    #confirmar{
        background-image: url(../assets/Confirmar.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
        right: 755px;
    }

    #finalizar{
        background-image: url(../assets/Finalizar.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
        left: 750px;
    }

    #finalizar:active{
        position: absolute;
        top:527px;
        left: 752px;
    }

    #cancelar{
        background-image: url(../assets/Cancelar.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
    }

    #cancelar:active{
        background-repeat: no-repeat;
        position: relative;
        top:3px;
        left:2px;
    }

    #lupa{
        background-image: url(../assets/Buscar.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
    }

    #lupa:active{
        background-repeat: no-repeat;
        position: relative;
        top:3px;
        left:2px;
    }

    #download{
        background-image: url(../assets/Finalizar.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
        left: 750px;
    }

    #download:active{
        position: absolute;
        top:527px;
        left: 752px;
    }

    #inserir{
        background-image: url(../assets/Inserir.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
    }

    #inserir:active{
        background-repeat: no-repeat;
        position: relative;
        top:3px;
        left:2px;
    }

    #locker{
        background-image: url(../assets/Finalizar.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
        left: 750px;
    }

    #locker:active{
        position: absolute;
        top:527px;
        left: 752px;
    }

    #ajustebtn{
        background-image: url(../assets/Ajustar.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
    }

    #ajustebtn:active{
        background-repeat: no-repeat;
        position: relative;
        top:3px;
        left:2px;
    }

    #ajustebtn_auto{
        background-image: url(../assets/Automatico.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
        left: 750px;
    }

    #ajustebtn_auto:active{
        position: absolute;
        top:527px;
        left: 752px;
    }

    #btn_inserir{
        background-image: url(../assets/Inserir.png);
        width: 275px;
        height: 84px;
        background-repeat: no-repeat;
        position: absolute;
        top:525px;
    }

    #btn_inserir:active{
        background-repeat: no-repeat;
        position: relative;
        top:3px;
        left:2px;
    }

    html, body {
        overflow: hidden;
       }

       #prev,#next{
        position: relative;
        bottom: 50px;
    }